pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #F00 } /* Error */
.highlight .k { color: #00F } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #00F } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #00F } /* Keyword.Constant */
.highlight .kd { color: #00F } /* Keyword.Declaration */
.highlight .kn { color: #00F } /* Keyword.Namespace */
.highlight .kp { color: #00F } /* Keyword.Pseudo */
.highlight .kr { color: #00F } /* Keyword.Reserved */
.highlight .kt { color: #2B91AF } /* Keyword.Type */
.highlight .s { color: #A31515 } /* Literal.String */
.highlight .nc { color: #2B91AF } /* Name.Class */
.highlight .ow { color: #00F } /* Operator.Word */
.highlight .sa { color: #A31515 } /* Literal.String.Affix */
.highlight .sb { color: #A31515 } /* Literal.String.Backtick */
.highlight .sc { color: #A31515 } /* Literal.String.Char */
.highlight .dl { color: #A31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #A31515 } /* Literal.String.Doc */
.highlight .s2 { color: #A31515 } /* Literal.String.Double */
.highlight .se { color: #A31515 } /* Literal.String.Escape */
.highlight .sh { color: #A31515 } /* Literal.String.Heredoc */
.highlight .si { color: #A31515 } /* Literal.String.Interpol */
.highlight .sx { color: #A31515 } /* Literal.String.Other */
.highlight .sr { color: #A31515 } /* Literal.String.Regex */
.highlight .s1 { color: #A31515 } /* Literal.String.Single */
.highlight .ss { color: #A31515 } /* Literal.String.Symbol */
