# ignore hidden files
.*

# do not ignore .git, needed for versioning
!/.git

# ignore repo directories and files
docker/
gh-pages-template/
scripts/
tools/
crowdin.yml

# don't ignore linux build script
!scripts/linux_build.sh

# ignore dev directories
build/
cmake-*/
node_modules/
venv/

# ignore pre-built deps for other platforms
third-party/build-deps/dist/Darwin*
third-party/build-deps/dist/FreeBSD*
third-party/build-deps/dist/Windows*

# ignore non Linux third-party submodules
third-party/libdisplaydevice
third-party/TPCircularBuffer

# ignore artifacts
artifacts/
