[submodule "packaging/linux/flatpak/deps/flatpak-builder-tools"]
	path = packaging/linux/flatpak/deps/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
	branch = master
[submodule "packaging/linux/flatpak/deps/shared-modules"]
	path = packaging/linux/flatpak/deps/shared-modules
	url = https://github.com/flathub/shared-modules.git
	branch = master
[submodule "third-party/build-deps"]
	path = third-party/build-deps
	url = https://github.com/LizardByte/build-deps.git
	branch = dist
[submodule "third-party/doxyconfig"]
	path = third-party/doxyconfig
	url = https://github.com/LizardByte/doxyconfig.git
	branch = master
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "third-party/inputtino"]
	path = third-party/inputtino
	url = https://github.com/games-on-whales/inputtino.git
	branch = stable
[submodule "third-party/libdisplaydevice"]
	path = third-party/libdisplaydevice
	url = https://github.com/LizardByte/libdisplaydevice.git
	branch = master
[submodule "third-party/moonlight-common-c"]
	path = third-party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
	branch = master
[submodule "third-party/nanors"]
	path = third-party/nanors
	url = https://github.com/sleepybishop/nanors.git
	branch = master
[submodule "third-party/nv-codec-headers"]
	path = third-party/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
	branch = sdk/12.0
[submodule "third-party/nvapi-open-source-sdk"]
	path = third-party/nvapi-open-source-sdk
	url = https://github.com/LizardByte/nvapi-open-source-sdk.git
	branch = sdk
[submodule "third-party/Simple-Web-Server"]
	path = third-party/Simple-Web-Server
	url = https://github.com/LizardByte-infrastructure/Simple-Web-Server.git
	branch = master
[submodule "third-party/TPCircularBuffer"]
	path = third-party/TPCircularBuffer
	url = https://github.com/michaeltyson/TPCircularBuffer.git
	branch = master
[submodule "third-party/tray"]
	path = third-party/tray
	url = https://github.com/LizardByte/tray.git
	branch = master
[submodule "third-party/ViGEmClient"]
	path = third-party/ViGEmClient
	url = https://github.com/LizardByte/Virtual-Gamepad-Emulation-Client.git
	branch = master
[submodule "third-party/wayland-protocols"]
	path = third-party/wayland-protocols
	url = https://github.com/LizardByte-infrastructure/wayland-protocols.git
	branch = main
[submodule "third-party/wlr-protocols"]
	path = third-party/wlr-protocols
	url = https://github.com/LizardByte-infrastructure/wlr-protocols.git
	branch = master
