[submodule "moonlight-common-c"]
	path = third-party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "Simple-Web-Server"]
	path = third-party/Simple-Web-Server
	url = https://github.com/loki-47-6F-64/Simple-Web-Server.git
[submodule "ViGEmClient"]
	path = third-party/ViGEmClient
	url = https://github.com/ViGEm/ViGEmClient
[submodule "third-party/miniupnp"]
	path = third-party/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "third-party/nv-codec-headers"]
	path = third-party/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers
