pkgbase = sunshine-git
	pkgdesc = Open source implementation of NVIDIA's GameStream, as used by the NVIDIA Shield
	pkgver = 0.13.0.957.4b658cd
	pkgrel = 1
	url = https://github.com/SunshineStream/sunshine
	install = sunshine.install
	arch = x86_64
	arch = i686
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = boost
	makedepends = make
	depends = boost-libs
	depends = ffmpeg4.4
	depends = openssl
	depends = libpulse
	depends = opus
	depends = libxtst
	depends = libx11
	depends = libxfixes
	depends = libevdev
	depends = libxcb
	depends = libxrandr
	depends = udev
	provides = sunshine
	conflicts = sunshine
	source = sunshine-git::git+https://github.com/SunshineStream/sunshine.git
	source = systemd-user-config.patch
	source = udev.rules
	sha256sums = SKIP
	sha256sums = 1642eb8672b137e94aa16e4aadde37f68bf1920dfadd1325cca480d7731f38c9
	sha256sums = 5ce01689247cb01d3f119cac32c731607d99bb875dcdd39c92b547f76d2befa0

pkgname = sunshine-git