[Desktop Entry]
Type=Application
Name=@PROJECT_NAME@
Exec=flatpak run dev.lizardbyte.sunshine
Version=1.0
Comment=@PROJECT_DESCRIPTION@
Icon=sunshine
Categories=Utility;
Terminal=true
