/* Hide pages while localization is loading */
[v-cloak] {
    display: none;
}

[data-bs-theme=dark] .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
}

@media (prefers-color-scheme: dark) {
    .element {
        color: var(--bs-primary-text-emphasis);
        background-color: var(--bs-primary-bg-subtle);
    }
}

.navbar-background {
    background-color: #ffc400
}

.header .nav-link {
    color: rgba(0, 0, 0, .65) !important;
}

.header .nav-link.active {
    color: rgb(0, 0, 0) !important;
}

.header .nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

.header .navbar-toggler {
    color: rgba(var(--bs-dark-rgb), .65) !important;
    border: var(--bs-border-width) solid rgba(var(--bs-dark-rgb), 0.15) !important;
}

.header .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.form-control::placeholder {
    opacity: 0.5;
}

.precmd-head {
    width: 200px;
}

.monospace {
    font-family: monospace;
}

.cover-finder .cover-results {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cover-finder .cover-results.busy * {
    cursor: wait !important;
    pointer-events: none;
}

.cover-container {
    padding-top: 133.33%;
    position: relative;
}

.cover-container.result {
    cursor: pointer;
}

.spinner-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.cover-container img {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.config-page {
    padding: 1em;
    border: 1px solid #dee2e6;
    border-top: none;
}

td {
    padding: 0 0.5em;
}

.env-table td {
    padding: 0.25em;
    border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
    vertical-align: top;
}