:root, [data-bs-theme=light]{
  --bs-primary-rgb: 255, 196, 0;
}
[data-bs-theme=dark]{
  --bs-primary-rgb: 25, 27, 30;
}

#toggleTheme{
  margin-left:auto;
  margin-right:10px;
}
#toggleTheme span:not(.active){
  display:none;
}
@media(min-width:992px){
  #toggleTheme{
    position:absolute;
    right:0;
  }
}

html[data-bs-theme="dark"] #toggleTheme i{
  color:#fff;
}
